/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
}

/* Banner styles */
.banner {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 150px 0;
  background-color: #9b2a2a;
}

/* Container styles */
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 100px;
}

.container {
  height: 25vh;
  background: #f5f6f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* Responsive styles */
@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
      padding: 0 20px 20px;
  }

  .container {
      height: auto;
      margin: 20px 0;
  }
}
