/* Global styles */
* {
  margin: 0;
  padding: 0;
}

/* Header styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

.image-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.image-with-text img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.image-text {
  font-size: 18px;
  color: #333;
}

/* Banner styles */
.banner {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 150px 0;
  background-color: white; /* Set your desired background color */
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20;
}

/* Features styles  */

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 100px;

}

.container {
  height: 25vh;

  /* width: 10vw; */
  background: #f5f6f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0 0 0 / 30%);
  border-radius: 8px;
  margin: 20px;
}
