/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/* Body styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #9bb8cd;
  color: #083f72;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #9bb8cd;
  color: #fdf9f5;
}

.header-links {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Banner styles */
.banner-image {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 150px 0;
  background-color: #9bb8cd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8ebdd;
  text-align: center;
  font-size: 4em;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Additional styles for the image within the banner */
.banner-image img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.image-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Achievements Section */
.our-achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.achievement-block {
  text-align: center;
  max-width: 300px;
}

.achievement-block h3 {
  font-size: 2em;
  color: #083f72;
}

.achievement-block p {
  color: #333;
}

/* Features Section */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
  flex-direction: row;
}

.container {
  background: #f8ebdd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(242, 239, 239, 0.3);
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  width: 30%;
  height: auto;
}

.features-text {
  text-align: center;
  margin: 60px 0;
  font-size: 80px;
}



/* Footer styles */
.footer-container {
  display: flex;
  background: #f8ebdd;
  color: #083f72;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
}

.footer-content p {
  font-size: 16px;
  font-weight: 400;
}

.footer-content h2 {
  font-size: 20px;
  font-weight: 700;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.social-links {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Add responsive styles here if needed */
}
